
/* =========== Header Area ============= */

.yuma-header-area {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: all .2s ease-in-out;
}
.navbar-brand img.yuma-header-logo {
  max-width: 140px;
  width: auto;
  max-height: 30px;
}
.yuma-header-area a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  padding: 0;
}
.yuma-header-area a.navbar-brand img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80px;
}
.navbar > a.yuma-quote-btn {
  border-radius: 5px;
  padding: 0.2rem 0.7rem;
  color: #fff;
  background-color: #E72276;
  border-color: #E72276;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
}
.yuma-contact-info {
  transition: 0.3s ease opacity, 0.5s ease height;
  display: initial !important;
  justify-content: initial !important;
  -webkit-justify-content: initial !important;
  white-space: nowrap;
  text-align: right;
  padding-right: 0;
}
.yuma-contact-info ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.yuma-contact-info li{
  display: inline-block;
  color: #323E48;
  font-size: 18px;
  font-weight: 600;
  padding-right: 15px;
}
.yuma-contact-info li span {
  font-weight: normal;
  font-size: 15px;
  border: none;
  padding-right: 10px;
}
.yuma-contact-info li:first-child::after {
  content: '';
  margin-left: 10px;
  height: 22px;
  width: 2px;
  display: inline-block;
  background: #d0d0d0;
  top: 5px;
  position: relative;
}
.yuma-contact-info li:last-child {
  padding-right: 0;
}
.yuma-contact-info li > a.yuma-quote-btn {
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  background-color: #EC008C;
  border-color: #EC008C;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
}
.yuma-contact-info li > a.yuma-quote-btn:hover{
  background: #f7941d;
  color: #fff;
}
.yuma-contact-info li > a:hover{
  color: #f7941d;
}
 .yuma-main-navigation {
  background-color: #323E48;
}
.yuma-main-navigation nav.navbar {
  color: #fff;
  padding: 0;
  align-items: center;
}
.navbar .navbar-collapse .navbar-nav {
  width: 100%;
  margin-bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  background: transparent;
}
.navbar .navbar-collapse .navbar-nav .nav-item a {
  position: relative;
  font-size: 16px;
  color: #fff;
  padding-right: 0;
  padding-left: 0;
  font-weight: normal;
}
.navbar .navbar-collapse .navbar-nav .nav-item a span {
  position: absolute;
  margin-left: 0;
  font-size: 12px;
  color: #fff;
  /* background: #e72276; */
  padding: 2px 5px;
  line-height: 22px;
  top: 0;
}
.navbar .navbar-collapse .navbar-nav .nav-item:last-child a {
  padding-right: 0;
}
.yuma-main-navigation .navbar-nav li.dropdown .dropdown-menu {
  background-color: #323E48;
  padding: 5px 10px 5px;
  border-radius: 0;
  margin: 0;
  border: none;
  min-width: 200px;
  transition: all 0.5s;
  transform-origin: top center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding: 7px 0;
}
li.nav-item.dropdown a.dropdown-toggle.nav-link::after {
  content: '\276F';
  position: absolute;
  top: 2px;
  right: -15px;
  height: 100%;
  border: none;
  transform: rotate(90deg);
}
li.nav-item.dropdown.show a.dropdown-toggle.nav-link::after {
  transform: rotate(-90deg);
  right: -30px;
  position: absolute;
  top: 2px;
  left: inherit;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover {
  text-decoration: none;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-bottom: 1px solid transparent;
  bottom: 0;
  transition: ease all .5s;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover::after {
  width: 100%;
  border-bottom: 1px solid #fff;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover,
.navbar .navbar-collapse .navbar-nav .dropdown-menu a:focus {
  background: transparent;
}
.navbar .navbar-collapse .navbar-nav .nav-item:last-child .dropdown-menu{
  right: -30px;
  left: inherit;
}
.yuma-header-height{
  height: 124px;
}

/*========== Start Responsive ==========*/

@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-nav {
    width: 100%;
    margin-bottom: 0;
    display: block;
    justify-content: initial;
    flex-direction: initial;
  }
  .yuma-main-navigation .navbar .navbar-collapse .navbar-nav {
    display: block;
    padding: 10px 15px;
  }
  .yuma-header-area .yuma-contact-info.container {
    width: auto;
    margin: initial;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 3px 0;
  }
  .navbar .navbar-collapse .navbar-nav .dropdown-menu a {
    padding: 5px 0;
  }
  li.nav-item.dropdown a.dropdown-toggle.nav-link::after {
    right: 15px;
  }
  li.nav-item.dropdown.show a.dropdown-toggle.nav-link::after {
    right: 0;
  }
  .yuma-header-area a.navbar-brand img {
    max-height: 60px;
  }
  .yuma-header-height {
    height: 76px;
  }
  .yuma-banner-content {
    padding-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .yuma-header-area .yuma-contact-info.container {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .yuma-header-area .navbar-brand {
    order: 2;
  }
  .yuma-header-area .navbar-toggler {
    order: 3;
  }
  .yuma-header-height {
    height: 110px;
  }
}
@media (max-width: 479px) {
  .yuma-contact-info li span {
    display: none;
  }
  .yuma-contact-info li > a.yuma-quote-btn {
    padding: 0.2rem 0.5rem;
    font-weight: normal;
  }

}
