<header class="yuma-header-area">
  <nav class="navbar navbar-expand-md container">
    <a class="navbar-brand" [routerLink]="'.'"><img [src]="logo" [alt]="title"></a>
    <div class="container yuma-contact-info">
      <ul>
        <li><span>Call:</span> <a href="tel:{{phone}}">{{phone}}</a></li>
        <li><a [routerLink]="'/contact-us'" class="yuma-quote-btn">Get a free quote</a></li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <fa-icon [icon]="bar"></fa-icon>
    </button>
  </nav>
  <div class="yuma-main-navigation">
    <div class="container">
      <nav class="navbar navbar-expand-md">

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'web-design'" (click)="isMenuCollapsed = true">Web Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'ecommerce'" (click)="isMenuCollapsed = true">E-Commerce</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"  [routerLink]="'social-media-pricing'" (click)="isMenuCollapsed = true ">Social Marketing Pricing</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'about-us'" (click)="isMenuCollapsed = true">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'contact-us'" (click)="isMenuCollapsed = true">Contact Us</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
</header>
<div class="yuma-header-height"></div>

