<section class="yuma-page-wrapper yuma-shareholder-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-shareholder-logo">
          <a [href]="technovo_url"><img src="{{technovo}}" alt="TechNovo"></a>
          <a target="_blank" [href]="novopay_url"><img src="{{novopay}}" alt="Novopay"></a>
        </div>
      </div>
    </div>
  </div>
</section>
