
.yuma-shareholder-area {
  background: #fdfdfd;
}
.yuma-shareholder-logo {
  text-align: center;
}
.yuma-shareholder-logo a:first-child img {
  padding-right: 2rem;
  border-right: 2px solid #d8d8d8;
}
.yuma-shareholder-logo a:nth-child(2) img {
  padding-left: 2rem;
}
.yuma-shareholder-logo img {
  max-width: 250px;
  max-height: 3rem;
}

/*============ Start Responsive ==============*/

@media (max-width: 575px) {
  .yuma-shareholder-logo img {
    max-width: 140px;
  }
  .yuma-shareholder-logo a:first-child img {
    padding-right: 15px;
  }
  .yuma-shareholder-logo a:nth-child(2) img {
    padding-left: 15px;
  }

}
