<section class="yuma-page-wrapper yuma-news-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="yuma-heading">
          <h2>{{heading}}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let news of newsItem">
        <div class="yuma-news-item">
          <a [routerLink]="news.news_url" *ngIf="news.news_img"><img src="{{news.news_img}}" alt="{{news.news_title}}"></a>
          <div class="yuma-news-content">
            <h3>{{news.news_title}}</h3>
            <a [routerLink]="news.news_url" class="yuma-btn yuma-btn-secondary-bg">{{news.news_btn}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
