
/*=========== Start News area ===========*/

.yuma-news-area{
  position: relative;
}
.yuma-news-item {
  background: #d8d8d8;
}
.yuma-news-item > a {
  display: block;
}
.yuma-news-item > a img {
  width: 100%;
  transition: ease all .5s;
}
.yuma-news-item > a:hover img {
  opacity: 0.75;
}
.yuma-news-content {
  padding: 20px;
}
.yuma-news-content p {
  color: #E72276;
  font-size: 15px;
}
.yuma-news-content h3 {
  color: #323E48;
  min-height: 75px;
  font-size: 20px;
}
.yuma-news-content a {
  display: inline-block;
  margin-bottom: 10px;
}



/*============ Start Responsive ==============*/

@media (max-width: 767px) {}
