
/* ======= Why Choose Area ============= */

.yuma-choose-area {
  position: relative;
  background: #ffffff;
}
.yuma-choose-item{
  text-align: center;
  padding: 30px 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.08);
  border-radius: 5px;
  margin: 0;
  height: 100%;
}
.yuma-choose-item img {
  max-height: 64px;
  max-width: 100px;
  margin-bottom: 20px;
}
.yuma-choose-item h3 {
  color: #323E48;
  font-size: 16px;
}
.yuma-choose-item p {
  font-size: 15px;
  color: #323E48;
  line-height: 25px;
  padding: 0 15px;
  margin: 0;
}

/*============ Start Responsive ==============*/

@media (max-width: 991px) {
  .yuma-choose-item {
    margin: 0 0 30px;
    height: auto;
  }

}

