<section class="yuma-page-wrapper yuma-choose-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="yuma-heading">
          <h2>{{heading}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let choose of chooses">
        <div class="yuma-choose-item">
          <img src="{{choose.choose_img}}" alt="{{choose.choose_title}}">
          <h3>{{choose.choose_title}}</h3>
          <p *ngIf="choose.choose_desc">{{choose.choose_desc}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
