<div class="yuma-page-area yuma-offer-page">
  <app-banner [banners]="offerBanner"></app-banner>
  <section class="yuma-page-wrapper yuma-offer-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6" *ngFor="let offer of offers">
          <div class="yuma-offer-item">
            <h4>{{offer.offer_title}}</h4>
            <p [innerHTML]="offer.offer_desc"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

