
.yuma-offer-area{
  position: relative;
  background: #f5f5f5;
}
.yuma-offer-content {
  position: relative;
  padding: 0;
  margin: 0;
}
.yuma-offer-content h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}
.yuma-offer-content p {
  color: #333;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 20px;
}
.yuma-offer-item {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  border-bottom: 5px solid #ec008c;
  padding: 25px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 170px;
}
.yuma-offer-item h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}
.yuma-offer-item p {
  font-size: 14px;
  color: #333;
  margin: 0;
}


/*============ Start Responsive ==============*/

@media (max-width: 991px) {
  .yuma-term-item {
    min-height: 195px;
  }
  .yuma-term-item h4 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .yuma-term-item {
    min-height: 170px;
  }
}
@media (max-width: 575px) {
  .yuma-term-item {
    min-height: initial;
  }
}
