<section class="yuma-page-wrapper yuma-project-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="yuma-heading">
          <h2>{{projectTitle}}</h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-6" *ngIf="projectAll">
        <div class="yuma-all-project">
          <a [routerLink]="'/projects'">{{projectAll}} </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-project-slider-area">
          <owl-carousel-o [options]="projectSlide">
            <ng-template carouselSlide *ngFor="let project of projects">
              <div class="yuma-project-item">
                <div class="yuma-project-image">
                  <img [src]="project.project_image" [alt]="project.project_title" />
                </div>
                <div class="project_overlay"></div>
                <div class="yuma-project-title fadeIn_bottom">
                  <a target="{{project.project_target ? '_blank' : '_self'}}" [href]="project.project_url">
                    <h3>{{project.project_title}}</h3>
                    <p>{{project.project_cat}}</p>
                  </a>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
