.yuma-project-area{
  padding-bottom: 15px;
}
.yuma-all-project {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 40px;
}
.yuma-all-project a{
  min-width: 150px;
  color: #323E48;
}
.yuma-all-project a:hover{
  color: #E72276;
}
.yuma-all-project .ng-fa-icon{
  margin-left: 5px;
  color: #E72276;
}
.yuma-project-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.08);
  border-radius: 5px;
  margin: 10px;
  background: #fff;
}
.yuma-project-image {
  max-height: 300px;
  overflow: hidden;
  object-fit: fill;
}
.project_overlay {
  /*background: rgba(231,34,118,0.8);*/
  background: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
.yuma-project-item:hover .project_overlay {
  opacity: 1;
}
.yuma-project-title  {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  background: transparent;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.yuma-project-item:hover .yuma-project-title {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.yuma-project-title a{
  display: block;
  text-align: center;
}
.yuma-project-title h3{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.yuma-project-title p{
  font-size: 14px;
  margin: 0;
  color: #ffffff;
}
.fadeIn_bottom {
  top: 80%;
}

/*======= Start Responsive* ============*/

@media (max-width: 767px) {
  .yuma-project-title h3 {
    font-size: 16px;
  }
}
