
/*======== Start Yuma Content Area ===========*/

.yuma-content-area {
  position: relative;
}
.yuma-content {
  position: relative;
}
.yuma-content h2 {
  font-size: 26px;
  margin-bottom: 15px;
}
.yuma-content ul {
  padding: 0;
  margin-bottom: 20px;
}
.yuma-content li {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  list-style: none;
  margin: 8px 0;
  line-height: 25px;
}
.yuma-content li::before {
  position: absolute;
  left: 0;
  content: '\2713';
  color: #E72276;
  padding-right: 15px;
  font-weight: bold;
}
.yuma-content-image {
  position: relative;
  text-align: center;
}
.yuma-content-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}
.yuma-include-item {
  margin: 20px 0 5px;
}
.yuma-include-item img{
  max-width: 36px;
  margin-right: 15px;
  margin-top: 5px;
}
.yuma-include-item .ng-fa-icon{
  max-width: 36px;
  margin-right: 15px;
  margin-top: 0;
  font-size: 20px;
  color: #e72276;
}
.yuma-include-item h4{
  font-size: 18px;
  margin-bottom: 5px;
}
.yuma-include-item p{
  font-size: 15px;
  margin: 0;
}
.yuma-content ul.list_dot {
  margin-top: 10px;
  padding-left: 15px;
}
.yuma-content ul.list_dot li::before {
  content: '\2022';
  font-size: 24px;
  color: #000;
  padding-right: 0;
}
.yuma-content ul.list_dot li {
  padding-left: 20px;
}

/*========== Start Responsive ==========*/

@media (max-width: 991px) {
  .yuma-content h2 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .yuma-content h2 {
    font-size: 20px;
  }
  .yuma-content li {
    font-size: 15px;
    margin: 5px 0;
  }
  .yuma-content-image {
    padding-top: 20px;
  }
}
