<section class="yuma-page-wrapper yuma-content-area" *ngIf="contents">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="yuma-content">
          <h2 *ngIf="contents.heading">{{contents.heading}}</h2>
          <div class="yuma-content-text" *ngFor="let cnt_item of contents.texts" [innerHTML]="cnt_item.text"></div>
          <ul *ngIf="contents.items" [ngClass]="contents.content_list">
            <li *ngFor="let featured of contents.items" [innerHTML]="featured.item"></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="yuma-content-image">
          <img [src]="contents.content_img" [alt]="contents.heading">
        </div>
      </div>
    </div>
  </div>
</section>


