<div class="yuma-page-area yuma-project-page">
  <app-banner [banners]="ecommerceBanners"></app-banner>
  <app-pricelist [prices]="ecommercePrices"></app-pricelist>
  <app-callaction></app-callaction>
  <app-content [contents]="ecommerceContents"></app-content>
  <app-cartmethod></app-cartmethod>
</div>
