.yuma-partner-area {
  padding: 25px 0;
}
.yuma-partner-area .yuma-partner-item {
  text-align: right;
  padding-right: 2rem;
  border-right: 2px solid #d8d8d8;
}
.yuma-partner-area .col:last-child .yuma-partner-item {
  text-align: left;
  border: none;
  padding-right: 0;
}
.yuma-partner-item img {
  max-width: 250px;
  max-height: 3rem;
}

/*============ Start Responsive ==============*/

@media (max-width: 479px) {
  .yuma-partner-item img {
    max-width: 150px;
  }
}
@media (max-width: 359px) {
  .yuma-partner-item img {
    max-width: 125px;
  }
}
