<section *ngIf="partners" class="yuma-page-wrapper yuma-partner-area">
  <div class="container">
    <div class="row justify-content-center">
      <div *ngFor="let partner of partners" class="col">
        <div class="yuma-partner-item">
          <a target="_blank" [href]="partner.partner_url">
            <img [src]="partner.partner_img" [alt]="partner.partner_title">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
