
/* ========== Slider Area ============= */

.yuma-slider-area{
  padding: 0;
  position: relative;
  z-index: 1;
}
.yuma-slider{
  position: relative;
  background: #ffffff url("../../../assets/images/slide-bg.jpg") no-repeat bottom right / cover;
  padding-bottom: 20px;
}
.yuma-slider-area .carousel-caption{
  top: 0;
  text-align: left;
  left: 0;
  right: 0;
  padding: 5% 0;
  position: relative;
}
.yuma-slider-content{
  position: relative;
  padding: 20px 0;
  min-height: 350px;
}
.yuma-slider-content h1 {
  font-weight: 700;
  color: #323E48;
  font-size: 32px;
}
.yuma-slider-content h1 span{
  color: #E72276;
}
.yuma-slider-content p {
  font-size: 15px;
  color: #323E48;
  margin-bottom: 15px;
}
.yuma-slider-content ul {
  padding: 0;
  margin: 15px 0 20px;
}
.yuma-slider-content ul li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #323E48;
  font-weight: 600;
  list-style: none;
  margin: 10px 0;
  line-height: 25px;
}
.yuma-slider-content ul li::before {
  position: absolute;
  left: 0;
  content: '\2713';
  color: #E72276;
  padding-right: 15px;
}
.yuma-slider-bg{
  position: relative;
}
.yuma-slider-bg img {
  height: auto;
  width: 100%;
  min-height: 450px;
  max-height: 480px;
  -o-object-fit: cover;
  object-fit: cover;
}
.yuma-slider-image{
  text-align: right;
}
.yuma-slider-image img{
  max-height: 350px;
  width: auto;
  height: auto;
}
.particle-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.yuma-slider-form{
  position: relative;
  z-index: 11;
  padding-bottom: 50px;
}


/*============ Start Responsive ==============*/

@media (min-width: 991px) and (max-width: 1200px) {
  .yuma-slider-content h1 {
    font-size: 28px;
  }
  .yuma-slider-area .yuma-slider-form {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {

  .yuma-slider-bg img {
    min-height: 350px;
    max-height: 350px;
  }
  .yuma-slider-content h1 {
    font-size: 28px;
  }
  .yuma-slider-content ul li{
    font-size: 15px;
  }
  .yuma-slider-form{
    padding-bottom: 30px;
  }
  .yuma-slider-content {
    min-height: 300px;
  }
  .yuma-slider-image img {
    max-height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .yuma-slider-content h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {

  .yuma-slider-image{
    text-align: center;
  }
  .yuma-slider-image img{
    max-height: 260px;
  }
  .yuma-slider-area .carousel-indicators {
    bottom: 0;
  }
  .yuma-slider-content ul li {
    margin: 5px 0;
  }
  .yuma-slider-content{
    min-height: 250px;
  }
  .yuma-slider-form {
    position: relative;
    top: inherit;
    right: inherit;
    padding-bottom: 0;
  }

}
@media (max-width: 575px) {

  .yuma-slider-content h1 {
    font-size: 22px;
  }

}
@media (max-width: 479px) {

  .yuma-slider-content ul li {
    font-size: 14px;
    margin: 5px 0;
  }

}
