<section class="yuma-slider-area">
  <div class="yuma-slider">
    <ngb-carousel *ngIf="slides">
      <ng-template ngbSlide *ngFor="let slide of slides">
        <div class="carousel-caption">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7 col-md-6">
                <div class="yuma-slider-content">
                  <h1 [innerHTML]="slide.slide_title"></h1>
                  <ul>
                    <li *ngFor="let content of slide.slide_contents">
                      {{content.heading}}
                    </li>
                  </ul>
                  <p *ngIf="slide.slide_btn"><a class="yuma-btn yuma-btn-primary" [routerLink]="slide.slide_btn_url">{{slide.slide_btn}}</a></p>
                </div>
              </div>
              <div class="col-lg-5 col-md-6" *ngIf="slide.slide_image">
                <div class="yuma-slider-image">
                  <img [src]="slide.slide_image" [alt]="slide.slide_title">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <Particles class="particle-area" id="tsparticles" [options]="particlesOptions"></Particles>
</section>
