
.yuma-feature-area{
  position: relative;
  background: #f5f5f5;
}
.yuma-feature-item {
  text-align: center;
  padding-top: 15px;
}
.yuma-feature-item a {
  display: inline-block;
}
.yuma-feature-item img {
  height: 185px;
  -o-object-fit: contain;
  object-fit: contain;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
}
.yuma-feature-title {
  text-align: center;
  padding: 15px 10px;
}
.yuma-feature-title a {
  text-decoration: none;
  color: #323E48;
  font-size: 16px;
}
.yuma-feature-title a:hover,
.yuma-feature-title a:focus {
  color: #EC008C;
}
.yuma-feature-title a fa-icon {
  display: inline-block;
  color: #EC008C;
  margin-left: 5px;
}

/*============ Start Responsive ==============*/

@media (max-width: 991px) {

  .yuma-feature-title a {
    font-size: 15px;
  }
  .yuma-feature-title {
    padding: 15px 0;
  }

}
@media (max-width: 767px) {
  .yuma-feature-item img {
    height: 150px;
  }
  .yuma-feature-title a {
    font-size: 16px;
  }

}
@media (max-width: 575px) {
  .yuma-feature-area .col-lg-4.col-md-4.col-sm-4 {
    max-width: 33.33%;
  }
  .yuma-feature-item img {
    height: 115px;
  }
}
@media (max-width: 479px) {
  .yuma-feature-item img {
    height: auto;
  }
  .yuma-feature-area .col-lg-4.col-md-4.col-sm-4 {
    max-width: 100%;
  }
}
