<section class="yuma-page-wrapper yuma-feature-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let feature of features">
            <div class="yuma-feature-item">
              <a target="{{feature.feature_link ? '_blank' : '_self'}}" [href]="feature.feature_link" *ngIf="feature.feature_image">
                <img [src]="feature.feature_image" [alt]="feature.feature_title">
              </a>
              <div class="yuma-feature-title">
                <a target="{{feature.feature_link ? '_blank' : '_self'}}" [href]="feature.feature_link">{{feature.feature_title}} <fa-icon [icon]="nextArrow"></fa-icon></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
