
/*=============== Call Action Area ============*/

.yuma-action-area {
  padding: 100px 0;
  background: #F9F9F9 url('../../../assets/images/call-bg.jpg') no-repeat center center / cover;
}
.yuma-action-area::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-size: 100%;
}
.yuma-action-content {
  text-align: center;
  padding: 0 30px;
}
.yuma-action-content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.yuma-action-content a {
  display: inline-block;
}
.yuma-action-content a:hover{
  background: #ec008c;
  border-color: #ec008c;
}

/*============ Start Responsive ==============*/

@media (max-width: 767px) {

  .yuma-action-content h2 {
    font-size: 30px;
  }

}
@media (max-width: 575px) {
  .yuma-action-content h2 {
    font-size: 24px;
  }

}
