<section class="yuma-page-wrapper yuma-action-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="yuma-action-content">
          <h2>{{callTitle}}</h2>
          <a class="yuma-btn yuma-btn-primary" [routerLink]="callUrl">{{callBtn}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
