<div class="yuma-banner-quote">
  <h3>Get your Free quote today.</h3>
  <form ngForm>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="user"></fa-icon></div>
          </div>
          <input type="text" id="name" [formControl]="nameFormControl" class="form-control" placeholder="Enter Full Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="briefcase"></fa-icon></div>
          </div>
          <input type="text" id="business" [formControl]="businessFormControl" class="form-control" placeholder="Enter Business Name">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="envelope"></fa-icon></div>
          </div>
          <input type="text" id="email" [formControl]="emailFormControl" class="form-control" placeholder="Enter Email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="phone"></fa-icon></div>
          </div>
          <input type="text" id="phone" [formControl]="phoneFormControl" class="form-control" placeholder="Enter Phone Number">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><fa-icon [icon]="message"></fa-icon></div>
          </div>
          <textarea id="message" [formControl]="messageFormControl" class="form-control" placeholder="Enter your Message"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input type="submit" [disabled]="nameFormControl.invalid || businessFormControl.invalid || emailFormControl.invalid || phoneFormControl.invalid || messageFormControl.invalid || submitted" (click)="submitQuote()" class="yuma-btn yuma-btn-primary" [value]="btnText">
    </div>
    <div [hidden]="!submitted" class="form-group">
      <p class="yuma-success">Quote send has been Successfully  !!! </p>
    </div>
  </form>
</div>
