
.yuma-banner-quote {
  background: #F3F3F3;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  padding: 20px 20px 10px;
  margin: 15px 0;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
}
.yuma-banner-quote h3 {
  text-align: center;
  color: #ec008c;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.yuma-banner-quote .col-sm-6:first-child{
  padding-right: 0;
}
.yuma-banner-quote .form-group{
  margin-bottom: 15px;
}
.yuma-banner-quote .input-group-text {
  border-color: #ec008c;
  background: #ec008c;
}
.yuma-banner-quote .input-group span {
  padding-top: 5px;
  width: 100%;
  font-size: 13px;
  color: #FF0000;
}
.yuma-banner-quote .form-group p.yuma-success {
  color: #155724;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.yuma-banner-quote .input-group-text .ng-fa-icon {
  color: #fff;
  font-size: 15px;
}
.yuma-banner-quote .input-group input, .yuma-banner-quote .input-group input:focus,
.yuma-banner-quote .input-group textarea, .yuma-banner-quote .input-group textarea:focus{
  padding: 8px 15px 8px 10px;
  min-height: 40px;
  height: auto;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
  border: 1px solid #ec008c;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: none;
  outline: none;
}
.yuma-banner-quote .form-group input[type="submit"]{
  margin-top: 10px;
  box-shadow: none;
  outline: none;
}
.yuma-banner-quote .form-group input[type="submit"]:focus,
.yuma-banner-quote .form-group input[type="submit"]:hover{
  box-shadow: none;
  border-color: #E72276;
  outline: none;
}
.yuma-banner-quote input.ng-invalid.ng-touched, .yuma-banner-quote textarea.ng-invalid.ng-touched{
  border-color: #FF0000;
  box-shadow: 1px 1px 2px 0 rgba(255,0,0,0.6);
}
.yuma-banner-quote input.ng-valid.ng-touched, .yuma-banner-quote textarea.ng-valid.ng-touched{
  border-color: #008000;
  box-shadow: 1px 1px 2px 0 rgba(0,128,0,0.6);
}

/*======= Start Responsive* ============*/

@media (max-width: 767px) {
  .yuma-banner-quote {
    margin: 15px auto;
    max-width: 500px;
  }
}
@media (max-width: 575px) {
  .yuma-banner-quote .col-sm-6:first-child {
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .yuma-banner-quote h3 {
    font-size: 18px;
  }
}

