
/* ============ Progress Area ============ */

.yuma-progress-area{
  position: relative;
}
.yuma-progress-item{
  position: relative;
}
.yuma-progress-item {
  position: relative;
  border-top: 5px solid #ec008c;
  transition: 0.3s;
  padding: 20px 0 0;
  margin: 15px 0;
}
.yuma-progress-item h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  color: #ec008c;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(2) .yuma-progress-item {
   border-color: #2AD0A7;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(2) .yuma-progress-item h3{
   color: #2AD0A7;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(2) .yuma-progress-item a.yuma-btn{
  color: #2AD0A7;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(3) .yuma-progress-item {
  border-color: #f7941d;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(3) .yuma-progress-item h3{
   color: #f7941d;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(3) .yuma-progress-item a.yuma-btn{
  color: #f7941d;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(4) .yuma-progress-item {
  border-color: #D60B1F;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(4) .yuma-progress-item h3{
  color: #D60B1F;
}
.yuma-progress-area .col-lg-3.col-md-6:nth-child(4) .yuma-progress-item a.yuma-btn{
  color: #D60B1F;
}
.yuma-progress-item p {
  color: #333;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
}

/*============ Start Responsive ==============*/

@media (max-width: 767px) {
  .yuma-progress-item {
    margin: 15px 0 30px;
  }
}
