<section class="yuma-page-wrapper yuma-progress-area yuma-bg-whsmoke">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let progres of progress">
        <div class="yuma-progress-item">
            <h3>{{progres.progress_title}}</h3>
            <p *ngIf="progres.progress_content" [innerHTML]="progres.progress_content"></p>
            <a *ngIf="progres.progress_btn_url" class="yuma-btn yuma-btn-text" [routerLink]="progres.progress_btn_url">{{progres.progress_btn}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
