
.yuma-campaign-area {
  background: #f0f2f5;
}
.yuma-campaign-item{
  position: relative;
  overflow: hidden;
  margin: 15px 0;
}
.yuma-campaign-image {
  height: auto;
  overflow: hidden;
  object-fit: fill;
}
.campaign_overlay {
  background: rgba(0,0,0,0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.yuma-campaign-item:hover .campaign_overlay {
  opacity: 1;
}
.yuma-campaign-title  {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  background: transparent;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.yuma-campaign-item:hover .yuma-campaign-title {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.yuma-campaign-image{
  max-height: 450px;
  object-fit: fill;
}
.yuma-campaign-image img{
  width: 100%;
  object-fit: fill;
}
.yuma-campaign-title a{
  display: block;
  text-align: center;
}
.yuma-campaign-title h3{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.fadeIn_bottom {
  top: 80%;
}
.yuma-campaign-full img{
  width: 100%;
}
.yuma-campaign-full a{
  margin: 15px auto 0;
  text-align: center;
  display: block;
  max-width: 140px;
  font-size: 14px;
  font-weight: 600;
}
