<section class="yuma-page-wrapper yuma-campaign-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let campaign of campaigns">
        <div class="yuma-campaign-item">
          <a href="javascript:void(0)" (click)="open(campModal, campaign)">
            <div class="yuma-campaign-image">
              <img [src]="campaign.camp_image" [alt]="campaign.camp_title" />
            </div>
            <div class="campaign_overlay"></div>
            <div class="yuma-campaign-title fadeIn_bottom">
                <h3>{{campaign.camp_title}}</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-template #campModal let-modal>
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="yuma-campaign-full">
              <img [src]="selectedCampaign.image" [alt]="selectedCampaign.title">
              <a [href]="selectedCampaign.url" target="_blank" class="yuma-btn yuma-btn-primary"> View Details</a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

