<div class="yuma-page-area yuma-unique-page">
  <app-banner [banners]="designBanners"></app-banner>
  <app-pricelist [prices]="designPrices"></app-pricelist>
  <app-callaction></app-callaction>
  <app-content [contents]="designContents"></app-content>
</div>
