<section class="yuma-page-wrapper yuma-banner-area" *ngIf="banners">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7">
        <div class="yuma-banner-content">
          <h1> {{banners.title}} </h1>
          <ul *ngIf="banners.contents">
            <li *ngFor="let feature of banners.contents">{{feature.featured}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="yuma-banner-form" *ngIf="banners.banner_form == 'show' ">
          <app-quote></app-quote>
        </div>
        <div class="yuma-banner-images" *ngIf="banners.banner_image">
          <img [src]="banners.banner_image" [alt]="banners.title">
        </div>
      </div>
    </div>
  </div>
</section>

