
/*============ Start banner area ==============*/

.yuma-banner-area {
  position: relative;
  background: #f5f5f5 url('../../../assets/images/slide-bg.jpg') no-repeat center center / cover;
}
.yuma-banner-content{
  position: relative;
}
.yuma-banner-content h1 {
  font-weight: 700;
  color: #323E48;
  font-size: 32px;
  text-transform: capitalize;
}
.yuma-banner-content ul{
  padding: 0;
  margin: 15px 0 20px;
}
.yuma-banner-content ul li::before {
  position: absolute;
  left: 0;
  content: '\2713';
  color: #ec008c;
  padding-right: 15px;
}
.yuma-banner-content ul li {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  list-style: none;
  margin: 10px 0;
  line-height: 25px;
}
.yuma-banner-images {
  text-align: right;
  padding: 0;
}
.yuma-banner-images img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
}

/*============ Start Responsive ==============*/

@media (max-width: 991px) {
  .yuma-banner-content ul li {
    font-size: 15px;
  }
  .yuma-banner-content h1 {
    font-size: 26px;
  }
  .yuma-banner-content ul li {
    margin: 5px 0;
  }
}
@media (max-width: 767px) {
  .yuma-banner-content ul li {
    padding-left: 20px;
  }
  .yuma-banner-images {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .yuma-banner-content ul li {
    font-size: 14px;
    font-weight: normal;
  }
  .yuma-banner-content h1 {
    font-size: 24px;
  }
}
