
/*============ Start price area ==============*/

.yuma-price-area{
  position: relative;
  background: #f5f5f5;
  padding-bottom: 30px;
}
.yuma-price-item {
  background: #ffffff;
  position: relative;
  padding: 25px 20px 25px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.08);
  overflow: hidden;
  margin-bottom: 30px;
}
.yuma-price-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #ec008c;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: 0.3s;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.yuma-price-item:hover::after, .yuma-price-item.active::after{
  transform: scale(1);
  bottom: -1px;
}
.yuma-price-item:hover {
  transform: translateY(-20px);
}
.yuma-price-item.active {
  transform: translateY(-30px);
}
.yuma-price-title {
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
.yuma-price-title img {
  max-width: 64px;
  max-height: 60px;
  margin-bottom: 15px;
}
.yuma-home-price .yuma-price-title h2{
  font-size: 22px;
}
.yuma-price-title h2{
  font-size: 28px;
  color: #323E48;
  margin-bottom: 5px;
}
.yuma-price-title p{
  font-size: 16px;
  margin-bottom: 5px;
}
.yuma-price-title h5{
  display: inline-flex;
  align-items: baseline;
  font-size: 36px;
  color: #f7941d;
}
.yuma-price-title h5 del {
  color: #323E48;
  font-weight: normal;
}
.yuma-price-bg .yuma-price-title h5 del {
  color: #ffffff;
  font-weight: normal;
}
.yuma-price-area .col-md-4:nth-child(2) .yuma-price-title h2,
.yuma-price-area .col-md-4:nth-child(2) .yuma-price-title h5{
  color: #ec008c;
}
.yuma-price-title h5 span {
  font-weight: 600;
  font-size: 24px;
  color: #323E48;
  margin-right: 5px;
}
.yuma-price-title h5 small {
  font-size: 18px;
  color: #323E48;
  font-weight: 600;
  padding-left: 3px;
  padding-right: 5px;
}
.yuma-price-features {
  padding-top: 10px;
}
.yuma-price-features ul {
  padding: 0;
  margin-bottom: 20px;
}
.yuma-price-features li {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  list-style: none;
  margin: 10px 0;
  line-height: 25px;
}
.yuma-price-features li::before {
  position: absolute;
  left: 0;
  content: '\2713';
  color: #ec008c;
  padding-right: 15px;
  font-weight: bold;
}
.yuma-price-features li#close::before {
  content: '\2715';
  font-weight: bold;
}
.yuma-price-btn{
  position: relative;
  display: block;
  text-align: center;
}
.yuma-price-btn .yuma-price-list {
  /*border: none;*/
  /*box-shadow: none;*/
  /*outline: none;*/
  /*padding: 6px 15px;*/
  /*border-radius: 5px;*/
  /*font-size: 14px;*/
  /*font-weight: 600;*/
  margin-right: 10px;
  background: #ec008c;
  color: #fff;
}
.yuma-price-btn a{
  position: relative;
  display: inline-block;
  padding: 8px 25px;
  font-size: 15px;
  font-weight: 600;
  color: #ec008c;
  border: 2px solid #ec008c;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.yuma-price-btn a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #ec008c;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.yuma-price-btn a:hover {
  color: #fff;
  border-color: #ec008c;
  box-shadow: inset 0 0 0 2px #ec008c;
}
.yuma-price-btn a:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.yuma-price-bg.yuma-price-item{
  background: #323E48;
}
.yuma-price-bg .yuma-price-title h2{
  color: #ffffff;
}
.yuma-price-bg .yuma-price-features li{
  color: #ffffff;
}
.yuma-price-bg .yuma-price-title h5 span, .yuma-price-bg .yuma-price-title h5 small,
.yuma-price-bg .yuma-price-title p{
  color: #ffffff;
}
.yuma-price-bg .yuma-price-btn a{
  color: #ffffff;
  border-color: #ffffff;
}
.yuma-price-bg .yuma-price-btn a:hover,
.yuma-price-bg .yuma-price-btn a:focus{
  background: #ffffff;
  color: #323E48;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
}
.yuma-price-bg .yuma-price-btn a::before {
  background: #ffffff;
}
.social-price-item.yuma-price-item {
  padding: 0 0 20px;
}
.social-price-item .yuma-price-title {
  background: #EC008C;
}
.social-price-item .yuma-price-title {
  background: #EC008C;
  border: none;
  padding: 30px 15px 10px;
}
.social-price-item .yuma-price-title h2,
.social-price-item .yuma-price-title h5,
.social-price-item .yuma-price-title h5 span,
.social-price-item .yuma-price-title h5 small,
.social-price-item .yuma-price-title p{
  color: #ffffff;
}
.social-price-item .yuma-price-features {
  padding: 0;
}
.collapse_height .yuma-price-features {
  overflow: hidden;
}
.collapse_height .yuma-price-btn{
  padding-bottom: 0;
  background: #ffffff;
  padding-top: 20px;
}
.yuma-price-bg.collapse_height .yuma-price-btn{
  background: transparent;
}
.yuma-price-bg .yuma-price-btn a.yuma-price-list {
  border-color: #ec008c;
}
.yuma-price-bg .yuma-price-btn a.yuma-price-list:hover {
  border-color: #fff;
}
.collapse_height .yuma-price-features ul {
  padding: 0;
  margin: 0;
  max-height: 200px;
}
.collapse_height .yuma-price-features ul.showAll {
  max-height: inherit;
}
.social-price-item .yuma-price-features li {
  padding: 0;
  margin: 0;
  display: flex;
  line-height: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.social-price-item .yuma-price-features li:nth-child(2n) {
  background: #f5f5f5;
}
.social-price-item .yuma-price-features li::before{
  display: none;
}
.social-price-item .yuma-price-features li span{
  flex-direction: column;
  flex: 0 70%;
  padding: 4px 15px;
  border-right: 2px solid #eaeaea;
}
.social-price-item .yuma-price-features li strong{
  flex-direction: column;
  flex: 0 30%;
  font-size: 14px;
  padding: 4px 10px;
  text-align: center;
}
.collapse_height.social-price-item .yuma-price-btn{
  padding-bottom: 20px;
  background: #ffffff;
  padding-top: 20px;
}

/*========== Start Responsive ==========*/

@media (max-width: 991px) {
  .yuma-price-item {
    margin-bottom: 30px;
  }
  .yuma-price-area .col-lg-4.col-md-6.col-sm-6:last-child .yuma-price-item {
    margin-bottom: 0;
  }
  .yuma-home-price .yuma-price-title h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-price-item .yuma-price-features li strong {
    flex: 0 20%;
    text-align: center;
  }
  .social-price-item .yuma-price-features li span {
    flex: 0 80%;
  }
}

@media (max-width: 767px) {
  .social-price-item .yuma-price-features li strong {
    flex: 0 25%;
    padding: 4px 5px;
  }
  .social-price-item .yuma-price-features li span {
    flex: 0 75%;
    padding: 4px 5px 4px 10px;
  }
  .yuma-price-btn a {
    padding: 5px 15px;
  }
  .yuma-price-title h5 {
    font-size: 28px;
  }
}
@media (max-width: 674px) {
  .collapse_height .yuma-price-features ul {
    max-height: 215px;
  }
}
@media (max-width: 575px) {
  .social-price-item .yuma-price-features li strong {
    font-size: 13px;
  }
  .social-price-item .yuma-price-features li span {
    font-size: 14px;
  }
  .yuma-price-btn a {
    padding: 4px 15px;
  }
  .collapse_height .yuma-price-features ul {
    max-height: 200px;
  }
}
