<section class="yuma-page-wrapper yuma-price-area" *ngIf="prices">
  <div class="container">
    <div class="row justify-content-center">
      <div [className]="price.price_girdClass" *ngFor="let price of prices">
        <div class="yuma-price-item {{price.price_class}}">
          <div class="yuma-price-title">
            <img *ngIf="price.price_img" [src]="price.price_img" [alt]="price.price_heading">
            <h2>{{price.price_heading}}</h2>
            <p *ngIf="price.price_sub">{{price.price_sub}}</p>
            <h5><small *ngIf="price.price_from">{{price.price_from}}</small> <span *ngIf="price.price_offer"> {{price.price_currency}}</span> <del *ngIf="price.price_offer"> {{price.price_offer}} &nbsp; </del> <span>{{price.price_currency}}</span>{{price.price_price}} <small> {{price.price_type}}</small></h5>
          </div>
          <div class="yuma-price-features">
            <ul [ngClass]="{'showAll': showList}">
              <li *ngFor="let featured of price.price_featured" id="{{featured.close}}" class="{{featured.heading_class}}">
                  <span [innerHTML]="featured.heading"></span>
                  <strong>{{featured.heading_type}}</strong>
              </li>
            </ul>
          </div>
          <div class="yuma-price-btn">
            <a [href]="price.price_url" *ngIf="price.price_more == 'show'" class="yuma-price-list">{{price.price_button}}</a>
            <a href="javascript:void(0)" *ngIf="price.price_collapse == 'show'" class="yuma-price-list" (click)="showList = !showList">{{showList ? 'Show Less' : price.price_button }}</a>
            <a [routerLink]="price.price_link">{{price.price_btn}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
