<div class="yuma-page-area yuma-home-page">
  <app-slider></app-slider>
  <app-services></app-services>
  <app-pricelist [prices]="homePrices"></app-pricelist>
  <app-why-choose></app-why-choose>
  <app-callaction></app-callaction>
  <app-progress></app-progress>
  <app-project></app-project>
</div>
