<div class="yuma-page-area yuma-marketing-page">
  <app-banner [banners]="socialBanners"></app-banner>
  <app-pricelist [prices]="socialPrices"></app-pricelist>
  <app-callaction></app-callaction>
  <app-content [contents]="socialContents"></app-content>
</div>
