
.yuma-comingsoon-area{
  position: relative;
  padding: 15px 0;
}
.yuma-comingsoon-content{
  padding: 10px 0;
}
.yuma-comingsoon-content h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3rem;
  color: #EC008C;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1rem rgba(236,0,140,0.8);
}

/*========== Start Responsive ==========*/

@media (max-width: 575px) {
  .yuma-comingsoon-content h2 {
    font-size: 2rem;
  }
}
