<section class="yuma-page-wrapper yuma-comingsoon-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-comingsoon-content text-center">
          <h2>Coming Soon...... </h2>
        </div>
      </div>
    </div>
  </div>
</section>
