
.yuma-form-area {
  position: relative;
}
.yuma-feedback-form {
  background: #f5f5f5;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  padding: 0;
  max-width: 100%;
  margin: 15px 0;
  border-radius: 5px;
}
.yuma-feedback-form h3{
  background: #ec008c;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.yuma-feedback-form form{
  padding: 15px 30px;
}
.yuma-feedback-form label{
  font-size: 15px;
  line-height: 25px;
}
.yuma-feedback-form .form-group span {
  display: inline-block;
  color: #FF0000;
}
.yuma-feedback-form .form-group p.yuma-success {
  color: #155724;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.yuma-feedback-form input{
  padding: 8px 15px 8px 15px;
  min-height: 40px;
  height: auto;
  font-size: 14px;
  color: #323E48;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}
.yuma-feedback-form input.ng-invalid.ng-touched{
  border-color: #FF0000;
  box-shadow: 1px 1px 2px 0 rgba(255,0,0,0.6);
  border-left-width: 5px;
}
.yuma-feedback-form input.ng-valid.ng-touched{
  border-color: #008000;
  box-shadow: 1px 1px 2px 0 rgba(0,128,0,0.6);
  border-left-width: 5px;
}
.yuma-feedback-form input:focus{
  border-color: #E72276;
}
.yuma-feedback-form .form-group input[type="submit"]{
  margin-top: 10px;
  background: #E72276;
  color: #ffffff;
  border: none;
  box-shadow: none;
  outline: none;
  min-width: 150px;
}
.yuma-feedback-form .form-group input[type="submit"]:focus,
.yuma-feedback-form .form-group input[type="submit"]:hover{
  box-shadow: none;
  border-color: #E72276;
  outline: none;
}
