<section class="yuma-page-wrapper yuma-feedback-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-4">
        <div class="yuma-feedback-form">
          <h3>Customer Feedback</h3>
          <form ngForm>
            <div class="form-group">
              <label>To <span>*</span></label>
              <input type="email" id="email" class="form-control" [formControl]="emailFormControl">
              <span *ngIf="emailFormControl.hasError('email')">Email is Required</span>
            </div>
            <div class="form-group">
              <label>Name <span>*</span></label>
              <input type="text" id="name" class="form-control" [formControl]="nameFormControl">
              <span *ngIf="nameFormControl.hasError('name')">Name is Required</span>
            </div>
            <div class="form-group">
              <input type="submit" [disabled]="emailFormControl.invalid || nameFormControl.invalid || submitted" (click)="submitForm()" class="yuma-btn yuma-btn-primary" [value]="btnText">
            </div>
            <div [hidden]="!submitted" class="form-group">
              <p class="yuma-success">Quote send has been Successfully   !!! </p>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
