
.yuma-payment-area {
  background: #f5f5f5;
}
.yuma-payment-item{
  text-align: center;
}
.yuma-payment-item a{
  text-align: center;
  display: block;
}
.yuma-payment-item img {
  display: block;
  width: auto;
  margin: auto;
}


/*============ Start Responsive ==============*/

@media (max-width: 991px) {}
