<section class="yuma-page-wrapper yuma-payment-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="yuma-payment-slide-area">
          <owl-carousel-o [options]="cartSlides">

            <ng-template carouselSlide *ngFor="let method of cartmethods">
              <div class="yuma-payment-item">
                <a target="{{method.method_link ? '_blank' : '_self'}}" [href]="method.method_link"><img [src]="method.method_image" [alt]="method.method_name"></a>
              </div>
            </ng-template>

          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>

