<section class="yuma-page-wrapper yuma-service-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let service of services">

        <div class="yuma-service-item">
          <div class="yuma-service-image">
            <img src="{{service.service_image}}" alt="{{service.service_title}}">
          </div>
          <div class="yuma-service-content">
            <h3>{{service.service_title}}</h3>
            <p>{{service.service_excerpt}}</p>
            <a class="service-btn" [routerLink]="service.service_url"><fa-icon [icon]="cheRight"></fa-icon> </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
