
/* ============ Service Area ============ */

.yuma-service-area{
  position: relative;
}
.yuma-service-item {
  position: relative;
  min-height: 15rem;
  border-radius: 5px;
  background: #f5f5f5 url("../../../assets/images/services-bg.png") no-repeat 50% 75% / cover;
}
.yuma-service-image {
  position: relative;
  text-align: right;
}
.yuma-service-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.yuma-service-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
.yuma-service-content  h3 {
  font-size: 18px;
  color: #323E48;
  margin-bottom: 5px;
  font-weight: 600;
}
.yuma-service-content p {
  font-size: 14px;
  width: 85%;
  margin-bottom: 10px;
  color: #323E48;
}
.yuma-service-content a.service-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: inline-block;
  border: 2px solid #ec008c;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  color: #ec008c;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

/*========== Start Responsive ==========*/

@media (max-width: 991px) {
  .yuma-service-content h3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {

  .yuma-service-content {
    padding: 15px 7px;
  }
  .yuma-service-item {
    margin-bottom: 30px;
  }
  .yuma-service-area .col-lg-4.col-md-4.col-sm-6:last-child .yuma-service-item {
    margin-bottom: 0;
  }

}
@media (max-width: 575px) {
  .yuma-service-item {
    min-height: 12rem;
  }
  .yuma-service-image img {
    width: auto;
  }
}
