
/* ============ Start Footer ============ */

.yuma-footer-area{
  padding: 50px 0 0;
  min-height: 3rem;
  background: #39454F;
}
.yuma-footer-area h3{
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
.yuma-footer-menu, .yuma-footer-logo, .yuma-footer-social{
  margin-bottom: 30px;
}
.yuma-footer-logo img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70px;
  margin-bottom: 15px;
}
.yuma-footer-logo p{
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}
.yuma-footer-logo p a{
  color: #fff;
}
.yuma-footer-logo fa-icon{
  color: #ec008c;
  margin-right: 10px;
}
.yuma-footer-menu img {
  max-width: 18rem;
  width: auto;
}
.yuma-footer-area h3 a{
  color: #ffffff;
}
.yuma-footer-menu ul {
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 0;
}
.yuma-footer-menu ul li {
  display: block;
  padding: 0;
}
.yuma-footer-menu ul li a {
  font-size: 14px;
  display: inline-block;
  line-height: 25px;
  color: #fff;
  margin-bottom: 5px;
}
.yuma-footer-menu ul li a:hover, .yuma-footer-menu ul li a:focus{
  text-decoration: none;
  color: #ec008c;
}
ul.yuma-social-icons {
  padding: 0;
  margin: 0;
}
.yuma-social-icons li {
  display: inline-block;
  padding: 0 10px;
}
.yuma-social-icons li:first-child{
  padding-left: 0;
}
.yuma-social-icons a, .yuma-social-icons a:focus {
  color: #fff;
  font-size: 24px;
}
.yuma-social-icons a:hover{
  color: #ec008c;
}
.yuma-copyright-area{
  background: #323E48;
  padding: 20px 0;
  margin-top: 20px;
}
.yuma-copyright {
  text-align: center;
}
.yuma-copyright p {
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  margin: 0;
}
.trustpilot-widget.yuma-trustpilot {
  background: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 20px;
  max-width: 270px;
}
.trustpilot-widget.yuma-review {
  max-width: 270px;
}


/*========== Start Responsive ==========*/

@media (max-width: 767px) {
  .yuma-footer-area h3 {
    font-size: 18px;
  }
  .yuma-footer-menu ul {
    column-count: 1;
  }
  .yuma-footer-menu ul li a {
    margin-bottom: 2px;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .yuma-footer-menu ul {
    column-count: 1;
  }
  .yuma-footer-area .col-md-4.col-sm-4 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
  .yuma-social-icons li {
    padding: 0 7px;
  }
  .yuma-social-icons li:last-child{
    padding-right: 0;
  }
  .yuma-footer-area h3 {
    font-size: 16px;
  }
  .yuma-footer-logo p {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .yuma-footer-menu ul {
    column-count: 2;
  }
  .yuma-footer-area .col-md-4.col-sm-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
