<app-partner [partners]="partners"></app-partner>
<footer class="yuma-footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="yuma-footer-logo">
          <a [routerLink]="'.'"><img [src]="logo" [alt]="title"></a>
          <p>
            <fa-icon [icon]="phone"></fa-icon>
            <a href="tel:{{number}}">{{number}}</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="yuma-footer-menu">
          <h3>Quick Link</h3>
          <ul>
            <li><a [routerLink]="'web-design'">Web Design</a></li>
            <li><a [routerLink]="'ecommerce'">E-Commerce</a></li>
            <li><a [routerLink]="'social-media-pricing'">Social Media Pricing</a></li>

            <li><a [routerLink]="'free-offers'">Free Offers</a></li>
            <li><a [routerLink]="'contact-us'">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="yuma-footer-social">
          <h3>Connect with Us</h3>
          <ul class="yuma-social-icons">
            <li *ngIf="fbpage"><a target="_blank" [href]="fbpage">
              <fa-icon [icon]="facebook"></fa-icon>
            </a></li>
            <li *ngIf="twitterpage"><a target="_blank" [href]="twitterpage">
              <fa-icon [icon]="twitter"></fa-icon>
            </a></li>
            <li *ngIf="instagrampage"><a target="_blank" [href]="instagrampage">
              <fa-icon [icon]="instagram"></fa-icon>
            </a></li>
            <li *ngIf="linkedpage"><a target="_blank" [href]="linkedpage">
              <fa-icon [icon]="linkedin"></fa-icon>
            </a></li>
            <li *ngIf="emailid"><a href="mailto:{{emailid}}">
              <fa-icon [icon]="email"></fa-icon>
            </a></li>
          </ul>
          <!-- TrustBox widget - Micro Review Count -->
          <div class="trustpilot-widget yuma-trustpilot" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad"
               data-businessunit-id="5fd537fb0475d90001267745" data-style-height="24px" data-style-width="100%"
               data-theme="light">
            <a href="https://uk.trustpilot.com/review/tech-novo.uk" target="_blank" rel="noopener">Trustpilot</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="yuma-copyright-area" *ngIf="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="yuma-copyright">
            <p [innerHTML]="copyright"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
