<div class="yuma-page-area yuma-epos-page">
  <app-banner [banners]="allinoneBanner"></app-banner>
  <app-comingsoon></app-comingsoon>
  <app-feature></app-feature>
  <app-content [contents]="allContents"></app-content>
  <app-shareholder></app-shareholder>
</div>
