
body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-weight: normal;
  scroll-behavior: smooth;
}
h1,h2,h3{
  font-weight: 700;
}
h4,h5,h6{
  font-weight: 600;
}
li, ol, p, ul {
  font-weight: normal;
  color: #323E48;
}
a,a:hover,a:focus{
  outline: none;
  text-decoration: none;
  color: #EC008C;
  box-shadow: none;
}
button, button:hover,button:focus{
  outline: none;
  box-shadow: none;
}
img{
  width: auto;
  max-width: 100%;
  height: auto;
}
.yuma-main-color {
  color: #E72276 !important;
}
.yuma-btn {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #ec008c;
  color: #ec008c;
  padding: 6px 15px;
  white-space: nowrap;
  text-decoration: none;
  transition: ease all .5s;
}
.yuma-btn-primary {
  color: #fff;
  background-color: #ec008c;
  border-color: #ec008c;
}
.yuma-btn-primary:hover, .yuma-btn-primary:focus {
  color: #fff;
  background: #ec008c;
  border-color: #ec008c;
  text-decoration: none;
}
.yuma-btn-secondary{
  color: #f7941d;
  background-color: transparent;
  border-color: #f7941d;
}
.yuma-btn-secondary:hover, .yuma-btn-secondary:focus {
  color: #fff;
  text-decoration: none;
  background: #f7941d;
  border-color: #f7941d;
}
.yuma-btn-secondary-bg {
  color: #fff;
  background-color: #f7941d;
  border-color: #f7941d;
}
.yuma-btn-secondary-bg:hover, .yuma-btn-secondary-bg:focus {
  color: #f7941d;
  background: #ffffff;
  border-color: #fff;
  text-decoration: none;
}
.yuma-btn-white {
  color: #fff;
  background: transparent;
  border-color: #fff;
}
.yuma-btn-white:hover, .yuma-btn-white:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
  text-decoration: none;
}
.yuma-btn-white-bg {
  color: #ec008c;
  background: #fff;
  border-color: #fff;
}
.yuma-btn-white-bg:hover, .yuma-btn-white-bg:focus {
  color: #ec008c;
  background: #fff;
  border-color: #fff;
  text-decoration: none;
}
.yuma-btn-text {
  padding: 0;
  border: none;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.yuma-heading{
  position: relative;
}
.yuma-heading h2 {
  font-size: 32px;
  font-weight: 600;
  color: #ec008c;
  margin-bottom: 25px;
}
.yuma-bg-white{
  background: #fff !important;
}
.yuma-bg-whsmoke{
  background: #f5f5f5;
}
.yuma-bg-primary {
  background: #ec008c;
}
.yuma-bg-secondary{
  background: #f7941d;
}
.container {
  max-width: 1200px;
}
.yuma-wrapper{
  position: relative;
}
.yuma-page-wrapper{
  position: relative;
  padding: 50px 0;
}

/*===== Slider area =======*/

.yuma-slider-area .carousel {
  position: relative;
  outline: none;
}
.yuma-slider-area .carousel-item.active .yuma-slider-content {
  animation: animate-carousel-title 1.5s normal forwards;
}
.yuma-slider-area .carousel-item.active .yuma-slider-image {
  animation: animate-carousel-image 1.5s normal forwards;
}
@keyframes animate-carousel-title {
  0% {
    transform: translate(-9em, 0 );
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes animate-carousel-image {
  0% {
    transform: translate(9em, 0 );
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.yuma-slider-area .carousel-inner>.carousel-item {
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  -o-transition: -o-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}
.yuma-slider-area .carousel-indicators {
  bottom: 0;
  outline: none;
  margin-bottom: 0;
}
.yuma-slider-area .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 5px;
  background: #323E48;
  border-radius: 100%;
  opacity: 1;
  border: none;
  transition: opacity .6s ease;
}
.yuma-slider-area .carousel-indicators li.active, .yuma-slider-area .carousel-indicators li:hover {
  opacity: 1;
  background: #ec008c;
}

/*========== Owl Carousel Nav & Dots ==================*/

.owl-dots, .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #ec008c;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-nav {
  margin: 0;
  position: absolute;
  top: -55px;
  right: 60px;
  width: auto;
}
.owl-nav [class*="owl-"] {
  color: #ec008c;
  font-size: 36px;
  margin: 0 5px;
  padding: 4px 0;
  display: inline-block;
  cursor: pointer;
  line-height: 10px;
}
.yuma-payment-slide-area .owl-nav {
  position: static;
}
.yuma-payment-slide-area .owl-nav [class*="owl-"] {
  position: absolute;
  top: 42%;
}
.yuma-payment-slide-area .owl-nav .owl-prev{
  left: -30px;
}
.yuma-payment-slide-area .owl-nav .owl-next{
  right: -30px;
}
.social-price-item .yuma-price-features li span b{
  color: #EC008C;
}
.yuma-slider-area .yuma-slider-form .yuma-banner-quote {
  max-width: 500px;
  margin-left: auto;
  position: relative;
  margin-top: -385px;
}
.yuma-slider-area .yuma-slider-form .yuma-banner-quote .form-group input[type="submit"] {
  margin-top: 0;
}
.yuma-slider-area .yuma-slider-form .yuma-banner-quote .input-group textarea#message {
  height: 50px;
}

/*==========  Modal Area ==================*/

.yuma-campaign-modal .modal-lg {
  max-width: 650px;
}
.yuma-campaign-modal .modal-content {
  background: #f0f2f5;
  border: none;
}
.yuma-campaign-modal .modal-header {
  padding: 5px 15px;
  border-bottom: none;
  background: #EC008C;
}
.yuma-campaign-modal .modal-header .close{
  opacity: 1;
  color: #fff;
  text-shadow: none;
}

/*========== Content Area ==================*/

.yuma-content-text span {
  padding-left: 15px;
  display: block;
}
.yuma-content-text h4 {
  font-size: 18px;
  margin: 0 0 5px;
  display: block;
}
.yuma-content-text h5 {
  font-size: 16px;
  margin: 0 0 5px;
  display: block;
}
.yuma-content-text p {
  font-size: 15px;
  color: #000;
  line-height: 25px;
}
.yuma-content-text p span {
  margin-left: 15px;
  display: flex;
}

/*============ Start Responsive ==============*/

@media (max-width: 1200px) {
  .yuma-payment-slide-area .owl-nav [class*="owl-"] {
    top: -35px;
  }
  .yuma-payment-slide-area .owl-nav .owl-prev {
    left: inherit;
    right: 20px;
  }
  .yuma-payment-slide-area .owl-nav .owl-next{
    right: 0;
  }
  .yuma-slider-area .yuma-slider-form .yuma-banner-quote {
    max-width: 420px;
    margin-right: 15px;
    margin-top: -370px;
  }
}
@media (max-width: 991px) {
  .owl-nav {
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .yuma-slider-area .yuma-slider-form .yuma-banner-quote {
    max-width: 390px;
    margin-top: -375px;
  }
}
@media (max-width: 767px) {
  .yuma-heading h2 {
    font-size: 24px;
  }
  .yuma-slider-area .yuma-slider-form .yuma-banner-quote {
    max-width: 450px;
    margin-right: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 0;
  }
}
@media (min-width: 674px) and (max-width: 767px) {}
@media (max-width: 674px) {}
@media (max-width: 575px) {
  .yuma-heading h2 {
    font-size: 20px;
  }
  .yuma-slider-content h3 br {
    float: left;
  }
}
@media only screen and (min-width: 400px) and (max-width: 575px) {}
@media (max-width: 479px) {}
@media (max-width: 359px) {}
