<section class="yuma-page-wrapper yuma-contact-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="yuma-form-area">
          <h3>Get your Free quote today.</h3>
          <form ngForm>
            <div class="form-group">
              <label>Full Name <span>*</span></label>
              <input type="text" id="name" class="form-control" [formControl]="nameFormControl">
              <span *ngIf="nameFormControl.hasError('name')">Name is Required</span>
            </div>
            <div class="form-group">
              <label>Phone Number <span>*</span></label>
              <input type="text" id="business" class="form-control" [formControl]="businessFormControl">
              <span *ngIf="businessFormControl.hasError('business')">Phone Number is Required</span>
            </div>
            <div class="form-group">
              <label>Email Address <span>*</span></label>
              <input type="email" id="email" email="true" class="form-control" [formControl]="emailFormControl">
              <span *ngIf="emailFormControl.hasError('email')">Email is Required</span>
            </div>
            <div class="form-group">
              <label>Subject <span>*</span></label>
              <input type="text" id="subject" class="form-control" [formControl]="subjectFormControl">
              <span *ngIf="emailFormControl.hasError('subject')">Subject is Required</span>
            </div>
            <div class="form-group">
              <label>Message <span>*</span></label>
              <textarea id="message" class="form-control" [formControl]="messageFormControl"></textarea>
              <span *ngIf="messageFormControl.hasError('message')">Message is Required</span>
            </div>
            <div class="form-group">
              <input type="submit" [disabled]="emailFormControl.invalid || subjectFormControl.invalid || messageFormControl.invalid || submitted" (click)="submitForm()" class="yuma-btn yuma-btn-primary" [value]="btnText">
            </div>
            <div [hidden]="!submitted" class="form-group">
              <p class="yuma-success">Quote send has been Successfully   !!! </p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="yuma-contact-information">
            <h3>Contact Information</h3>
            <div class="yuma-info-item location" *ngIf="info_address">
              <h4>Address</h4>
              <p [innerHTML]="info_address"></p>
            </div>
            <hr *ngIf="info_address">
            <div class="yuma-info-item" *ngIf="info_phone">
              <h4>Phone</h4>
              <p><a href="tel:{{info_phone}}">{{info_phone}}</a></p>
            </div>
            <hr *ngIf="info_phone">
            <div class="yuma-info-item email" *ngIf="info_email">
              <h4>Email</h4>
              <p><a href="mailto:{{info_email}}">{{info_email}}</a></p>
            </div>
        </div>
        <div class="yuma-maps-area">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng">
              <agm-info-window>
                <h6>Tech Novo</h6>
                <p>Tech Novo LTD is a trading name of Yuma Technology LTD</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>

