
.yuma-form-area {
  background: #ffffff;
  padding: 30px 30px 15px;
  max-width: 100%;
  border-radius: 5px;
  border: 2px dashed #eaeaea;
}
.yuma-form-area h3{
  color: #323E48;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px dashed #eaeaea;
  padding-bottom: 15px;
}
.yuma-form-area label{
  font-size: 15px;
  line-height: 25px;
}
.yuma-form-area .form-group span {
  display: inline-block;
  color: #FF0000;
}
.yuma-form-area .form-group p.yuma-success {
  color: #155724;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.yuma-form-area input, .yuma-form-area textarea{
  padding: 8px 15px 8px 15px;
  min-height: 40px;
  height: auto;
  font-size: 14px;
  color: #323E48;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}
.yuma-form-area textarea{
  height: 120px;
}
.yuma-form-area input.ng-invalid.ng-touched, .yuma-form-area textarea.ng-invalid.ng-touched{
  border-color: #FF0000;
  box-shadow: 1px 1px 2px 0 rgba(255,0,0,0.6);
  border-left-width: 5px;
}
.yuma-form-area input.ng-valid.ng-touched, .yuma-form-area textarea.ng-valid.ng-touched{
  border-color: #008000;
  box-shadow: 1px 1px 2px 0 rgba(0,128,0,0.6);
  border-left-width: 5px;
}
.yuma-form-area input:focus, .yuma-form-area textarea:focus{
  border-color: #E72276;
}
.yuma-form-area .form-group input[type="submit"]{
  margin-top: 10px;
  background: #E72276;
  color: #ffffff;
  border: none;
  box-shadow: none;
  outline: none;
  min-width: 150px;
}
.yuma-form-area .form-group input[type="submit"]:focus,
.yuma-form-area .form-group input[type="submit"]:hover{
  box-shadow: none;
  border-color: #E72276;
  outline: none;
}
.yuma-contact-information{
  background: #ffffff;
  padding: 30px 30px 30px;
  max-width: 100%;
  border-radius: 5px;
  border: 2px dashed #eaeaea;
}
.yuma-contact-information h3 {
  color: #323E48;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px dashed #eaeaea;
  padding-bottom: 15px;
}
.yuma-contact-information hr {
  border-top: none;
  border-bottom: 1px dashed #e5e5e5;
  margin: 10px 0;
}
.yuma-info-item {
  position: relative;
  display: block;
  padding-bottom: 0;
}
.yuma-info-item h4 {
  font-size: 16px;
  font-weight: 600;
  color: #242427;
  margin-bottom: 5px;
}
.yuma-info-item p {
  font-size: 15px;
  font-weight: 300;
  color: #1a1a1a;
  margin: 0;
  line-height: 25px;
}
.yuma-info-item p a {
  color: #1a1a1a;
}
.yuma-maps-area{
  position: relative;
  margin-top: 30px;
}
.yuma-maps-area agm-map {
  height: 330px;
  width: 100%;
}

/*========== Start Responsive ==========*/

@media (max-width: 991px) {
  .yuma-form-area h3, .yuma-contact-information h3 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .yuma-form-area h3, .yuma-contact-information h3 {
    font-size: 16px;
    text-transform: capitalize;
  }
  .yuma-form-area {
    padding: 30px 15px 15px;
  }
  .yuma-info-item h4 {
    font-size: 14px;
  }
  .yuma-info-item p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .yuma-contact-information {
    margin-top: 30px;
  }
}
