
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.yuma-notfound-page{
  position: relative;
  background: #fff;
}
.yuma-notfound-area{
  position: relative;
  text-align: center;
}
.yuma-notfound-area h2{
  font-family: "Fira Sans", sans-serif;
  font-size: 15rem;
  color: #323E48;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 1rem rgba(50,62,72,0.8);
}
.yuma-notfound-area p{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}
