<section class="yuma-page-wrapper yuma-notfound-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="yuma-notfound-area">
          <h2>404</h2>
          <p>Looks like the page you were looking for is no longer here.</p>
          <p><a class="yuma-btn yuma-btn-primary" [routerLink]="'/'">Back Home Page</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
